@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\000031}}
.banner {
  background: url(../img/reservation-banner.png) no-repeat center;
  height: 320px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\000034}}
.banner .g-center {
  background: url(../img/reservation-banner.png) no-repeat center;
  height: 320px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\0000311}}
#title {
  position: absolute;
  font-size: 14px;
  margin-top: 10px;
  width: 300px;
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\0000314}}
.main .store {
  padding-top: 100px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\0000316}}
.main .store .g-center {
  padding-bottom: 75px;
  border-bottom: 1px solid #e9e9e9;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\0000319}}
.main .store .g-center .store-top {
  margin: 0 0 0 90px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\0000321}}
.main .store .g-center .store-top .store-title {
  font-size: 24px;
  color: #111111;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\0000322}}
.main .store .g-center .store-top .dropdown .selected,
.main .store .g-center .store-top .dropdown li {
  font-size: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\0000323}}
.main .store .g-center .store-top .dropdown {
  margin: 20px 0 30px 0;
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\0000325}}
.main .store .g-center .store-intro {
  width: 600px;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\0000328}}
.main .store .g-center .store-intro p {
  font-size: 14px;
  color: #4c4c4c;
  margin-left: 90px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\0000329}}
.main .store .g-center .store-intro .title {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\0000335}}
.main .store .g-center .store-intro .addr {
  width: 400px;
  margin-top: 25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\0000336}}
.main .store .g-center .store-intro .map {
  margin-top: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\0000338}}
.main .store .g-center .store-intro .map a {
  color: #0064aa;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\0000339}}
.main .store .g-center .store-intro .map a:hover {
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\0000341}}
.main .store .g-center .store-intro .phone,
.main .store .g-center .store-intro .wechat,
.main .store .g-center .store-intro .shophour {
  margin-top: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\0000343}}
.main .store .g-center .store-img {
  float: left;
  width: 497px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\0000349}}
.main .type-box {
  margin-top: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\0000352}}
.main .type-box .g-center .type-top {
  margin: 0 0 50px 80px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\0000354}}
.main .type-box .g-center .type-top .type-title {
  font-size: 24px;
  color: #111111;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\0000357}}
.main .type-box .g-center .u-product {
  height: 145px;
  margin-left: 80px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\0000360}}
.main .type-box .g-center .u-product .u-title {
  width: 649px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\0000361}}
.main .type-box .g-center .u-product .u-title .u-title-title {
  color: #000;
  font-size: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\0000363}}
.main .type-box .g-center .u-product .u-type {
  height: 90px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\0000364}}
.main .type-box .g-center .u-product .u-type .u-type-type {
  margin-top: 25px;
  height: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\0000365}}
.main .type-box .g-center .u-product .u-type .u-type-type li {
  float: left;
  height: 48px;
  margin-right: 92px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\0000366}}
.main .type-box .g-center .u-product .u-type .u-type-type li a {
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  color: #000000;
  text-align: center;
  display: block;
  border: 1px solid #000;
  border-radius: 3px;
  padding-left: 24px;
  padding-right: 24px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\0000378}}
.main .type-box .g-center .u-product .u-type .u-type-type li a:hover {
  background: #9d8e81;
  color: #fff;
  border: 1px solid #9d8e81;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\0000384}}
.main .type-box .g-center .u-product .u-type .u-type-type .on a {
  background: #9d8e81;
  color: #fff;
  border: 1px solid #9d8e81;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\0000385}}
.main .type-box .g-center .u-product .u-type .u-type-type .product-close a {
  cursor: not-allowed;
  background: #ffffff;
  color: #e0e0e0;
  border: 1px solid #e0e0e0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\0000391}}
.main .type-box .g-center .u-product .u-type .u-type-type .product-close a:hover {
  background: #ffffff;
  color: #e0e0e0;
  border: 1px solid #e0e0e0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\0000396}}
.main .type-box .g-center .u-product .u-type .u-type-type .pro-10 {
  margin-left: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003104}}
.main .type-box .g-center #special .newyear-type {
  height: 90px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003107}}
.main .type-box .g-center #special .newyear-type .type {
  margin-top: 25px;
  height: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003110}}
.main .type-box .g-center #special .newyear-type .type li {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003112}}
.main .type-box .g-center #special .newyear-type .type li a:hover {
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  display: block;
  padding: 0 24px;
  background: url("../img/new_year_bg.png") repeat;
  background-size: 100% 100%;
  border: 1px solid #fff;
  border-radius: 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003125}}
.main .type-box .g-center #special .newyear-type .type li a:hover .newyear-zgj {
  width: 46px;
  height: 80px;
  display: block;
  position: absolute;
  top: -18px;
  right: -20px;
  color: #333;
  background: url("../img/cn_year_zgj.png") no-repeat;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003131}}
.main .type-box .g-center #special .newyear-type .type .on a {
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  display: block;
  padding: 0 24px;
  background: url("../img/new_year_bg.png") repeat;
  background-size: 100% 100%;
  border: 1px solid #fff;
  border-radius: 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003145}}
.main .type-box .g-center #special .newyear-type .type .on a .newyear-zgj {
  width: 46px;
  height: 80px;
  display: block;
  position: absolute;
  top: -18px;
  right: -20px;
  color: #333;
  background: url("../img/cn_year_zgj.png") no-repeat;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003149}}
.main .type-box .g-center #special .newyear-type .type .product-close a {
  cursor: not-allowed;
  background: #ffffff;
  color: #e0e0e0;
  border: 1px solid #e0e0e0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003155}}
.main .type-box .g-center #special .newyear-type .type .product-close a:hover {
  background: #ffffff;
  color: #e0e0e0;
  border: 1px solid #e0e0e0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003161}}
.main .type-box .g-center #special .newyear-type .tips {
  position: relative;
  height: 40px;
  font-size: 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003165}}
.main .type-box .g-center #special .newyear-type .tips li {
  display: none;
  float: left;
  margin-right: 33px;
  height: 40px;
  line-height: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003172}}
.main .type-box .g-center #special .newyear-type .tips li.tip-1 {
  position: absolute;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003176}}
.main .type-box .g-center #special .newyear-type .tips li.tip-2 {
  margin-left: 308px;
  position: absolute;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003180}}
.main .type-box .g-center #special .newyear-type .tips li.tip-3 {
  margin-left: 610px;
  position: absolute;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003185}}
.main .type-box .g-center #special .newyear-type .tips .tip-no {
  color: #e0e0e0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003196}}
.main .info .g-center ul.info-ul .title {
  height: 35px;
  background: #efeae6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003197}}
.main .info .g-center ul.info-ul .title p {
  color: #6c6c6c;
  float: left;
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003205}}
.main .info .g-center ul.info-ul .title .pro {
  margin-left: 80px;
  width: 500px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003206}}
.main .info .g-center ul.info-ul .title .price {
  width: 180px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003207}}
.main .info .g-center ul.info-ul .title .num {
  width: 170px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003208}}
.main .info .g-center ul.info-ul .title .total {
  width: 270px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003210}}
.main .info .g-center ul.info-ul .content {
  height: 35px;
  margin-top: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003211}}
.main .info .g-center ul.info-ul .content p {
  color: #6c6c6c;
  float: left;
  height: 35px;
  line-height: 35px;
  font-size: 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003218}}
.main .info .g-center ul.info-ul .content .pro {
  margin-left: 80px;
  width: 500px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003221}}
.main .info .g-center ul.info-ul .content .pro span {
  float: left;
  height: 35px;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003226}}
.main .info .g-center ul.info-ul .content .pro span.img {
  width: 35px;
  height: 35px;
  background: url("../img/ycz-jp-add.png") center no-repeat;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003233}}
.main .info .g-center ul.info-ul .content .price {
  width: 180px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003234}}
.main .info .g-center ul.info-ul .content .num {
  width: 170px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003235}}
.main .info .g-center ul.info-ul .content .num .num-span {
  width: 96px;
  height: 33px;
  border: 1px solid #d4d4d4;
  display: block;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003241}}
.main .info .g-center ul.info-ul .content .num .num-span a {
  float: left;
  width: 23px;
  height: 33px;
  display: block;
  color: #6c6c6c;
  font-weight: bold;
  background: #eeeeee;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003250}}
.main .info .g-center ul.info-ul .content .num .num-span span.sub,
.main .info .g-center ul.info-ul .content .num .num-span span.add {
  float: left;
  width: 23px;
  height: 33px;
  display: block;
  color: #bfbfbf;
  font-weight: bold;
  background: #eeeeee;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003259}}
.main .info .g-center ul.info-ul .content .num .num-span span {
  float: left;
  width: 50px;
  height: 33px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003262}}
.main .info .g-center ul.info-ul .content .total {
  width: 270px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003265}}
.main .info .g-center p.info-pro-tip {
  margin: 20px 0 5px 80px;
  font-size: 12px;
  color: #666666;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003273}}
.main .coupon .g-center {
  padding-bottom: 10px;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  font-size: 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003278}}
.main .coupon .g-center .zuhe {
  width: 360px;
  height: 25px;
  margin-top: 25px;
  line-height: 25px;
  margin-left: 840px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003284}}
.main .coupon .g-center .zuhe p {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003285}}
.main .coupon .g-center .zuhe .title {
  width: 217px;
  padding-left: 23px;
  color: #6c6c6c;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003286}}
.main .coupon .g-center .zuhe .save {
  width: 120px;
  text-align: right;
  color: #19763a;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003288}}
.main .coupon .g-center .cp {
  width: 360px;
  height: 25px;
  line-height: 25px;
  margin-top: 10px;
  margin-left: 840px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003294}}
.main .coupon .g-center .cp p,
.main .coupon .g-center .cp input {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003295}}
.main .coupon .g-center .cp .check {
  width: 16px;
  height: 16px;
  border: 1px solid #6c6c6c;
  background: #fff;
  margin-top: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003296}}
.main .coupon .g-center .cp .title {
  width: 100px;
  color: #6c6c6c;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003297}}
.main .coupon .g-center .cp .cp-input {
  display: none;
  width: 115px;
  border: 1px solid #6c6c6c;
  border-radius: 3px;
  margin-top: 3px;
  padding-left: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003298}}
.main .coupon .g-center .cp .save {
  width: 236px;
  text-align: right;
  color: #19763a;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003300}}
.main .coupon .g-center .cp-error p {
  margin: 10px 0 0 920px;
  color: #9D2323;
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003301}}
.main .coupon .g-center .cp-submit-btn-box {
  display: none;
  margin: 10px 0 10px 965px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003304}}
.main .coupon .g-center .cp-submit-btn-box .cp-submit-btn {
  text-align: center;
  width: 60px;
  height: 28px;
  line-height: 28px;
  border-radius: 3px;
  background: #a6937c;
  color: #ffffff;
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003318}}
.main .sum .g-center {
  height: 88px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003320}}
.main .sum .g-center .realprice {
  font-size: 16px;
  font-weight: bold;
  margin-top: 24px;
  width: 200px;
  height: 25px;
  line-height: 25px;
  margin-left: 1000px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003328}}
.main .sum .g-center .realprice p {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003329}}
.main .sum .g-center .realprice .title {
  color: #6c6c6c;
  width: 120px;
  text-align: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003330}}
.main .sum .g-center .realprice .money {
  color: #8d7969;
  width: 60px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003332}}
.main .sum .g-center .costprice {
  display: none;
  font-size: 14px;
  width: 200px;
  height: 25px;
  line-height: 25px;
  margin-left: 1000px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003339}}
.main .sum .g-center .costprice p {
  float: left;
  color: #6c6c6c;
  text-decoration: line-through;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003340}}
.main .sum .g-center .costprice .title {
  width: 120px;
  text-align: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003344}}
.main .next-box {
  height: 135px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003346}}
.main .next-box .g-center {
  border-top: 1px solid #e9e9e9;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003348}}
.main .next-box .g-center .info {
  float: left;
  width: 400px;
  padding-top: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003352}}
.main .next-box .g-center .info p {
  margin: 10px 0 0 60px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003355}}
.main .next-box .g-center .next {
  float: right;
  width: 155px;
  height: 64px;
  background: #a6937c;
  margin-top: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/Haimati\/Public\/css\/src\/reservation1\.less}line{font-family:\00003361}}
.main .next-box .g-center .next a {
  width: 155px;
  height: 64px;
  display: block;
  color: #fff;
  text-align: center;
  line-height: 64px;
  font-size: 20px;
}
